Pandas is a Python library used for working with data. It makes it easy to:

Store data in tables (rows and columns) using DataFrames.
Clean, filter, and transform data.
Analyze and summarize data using operations like sum, mean, groupby, etc.
Read and write data from files like CSV, Excel, or SQL databases.

In [1]:
# import libraries
import pandas as pd

UNDERSTAND THE DATASET

In [2]:
# import the dataset
Trend_wave= pd.read_excel(r'C:\Users\raval\Downloads\Trendwave data.xlsx')
# Retrieve 1st 5 rows
Trend_wave.head()

,ad_id,xyz_campaign_id,fb_campaign_id,age,gender,interest,Impressions,Clicks,Spent,Total_Conversion,Approved_Conversion
0,708746,916,103916,30-34,M,15,7350,1,1.43,2,1
1,708749,916,103917,30-34,M,16,17861,2,1.82,2,0
2,708771,916,103920,30-34,M,20,693,0,0.00,1,0
3,708815,916,103928,30-34,M,28,4259,1,1.25,1,0
4,708818,916,103928,30-34,M,28,4133,1,1.29,1,1

In [3]:
# retrieve last 5 rows
Trend_wave.tail()

,ad_id,xyz_campaign_id,fb_campaign_id,age,gender,interest,Impressions,Clicks,Spent,Total_Conversion,Approved_Conversion
1138,1314410,1178,179977,45-49,F,109,1129773,252,358.189997,13,2
1139,1314411,1178,179978,45-49,F,110,637549,120,173.880003,3,0
1140,1314412,1178,179979,45-49,F,111,151531,28,40.289999,2,0
1141,1314414,1178,179981,45-49,F,113,790253,135,198.710001,8,2
1142,1314415,1178,179982,45-49,F,114,513161,114,165.609999,5,2

In [4]:
# To know the complete information about dataset
Trend_wave.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ad_id                1143 non-null   int64
 1   xyz_campaign_id      1143 non-null   int64
 2   fb_campaign_id       1143 non-null   int64
 3   age                  1143 non-null   object
 4   gender               1143 non-null   object
 5   interest             1143 non-null   int64
 6   Impressions          1143 non-null   int64
 7   Clicks               1143 non-null   int64
 8   Spent                1143 non-null   float64
 9   Total_Conversion     1143 non-null   int64
 10  Approved_Conversion  1143 non-null   int64
dtypes: float64(1), int64(8), object(2)
memory usage: 98.4+ KB

In [5]:
# To get the statistical information about dataset
Trend_wave.describe()

,ad_id,xyz_campaign_id,fb_campaign_id,interest,Impressions,Clicks,Spent,Total_Conversion,Approved_Conversion
count,1.143000e+03,1143.000000,1143.000000,1143.000000,1.143000e+03,1143.000000,1143.000000,1143.000000,1143.000000
mean,9.872611e+05,1067.382327,133783.989501,32.766404,1.867321e+05,33.390201,51.360656,2.855643,0.944007
std,1.939928e+05,121.629393,20500.308622,26.952131,3.127622e+05,56.892438,86.908418,4.483593,1.737708
min,7.087460e+05,916.000000,103916.000000,2.000000,8.700000e+01,0.000000,0.000000,0.000000,0.000000
25%,7.776325e+05,936.000000,115716.000000,16.000000,6.503500e+03,1.000000,1.480000,1.000000,0.000000
50%,1.121185e+06,1178.000000,144549.000000,25.000000,5.150900e+04,8.000000,12.370000,1.000000,1.000000
75%,1.121804e+06,1178.000000,144657.500000,31.000000,2.217690e+05,37.500000,60.025000,3.000000,1.000000
max,1.314415e+06,1178.000000,179982.000000,114.000000,3.052003e+06,421.000000,639.949998,60.000000,21.000000

In [6]:
# To check null values in a dataset
Trend_wave.isnull().sum()

ad_id                  0
xyz_campaign_id        0
fb_campaign_id         0
age                    0
gender                 0
interest               0
Impressions            0
Clicks                 0
Spent                  0
Total_Conversion       0
Approved_Conversion    0
dtype: int64

In [7]:
# To know the datatypes
Trend_wave.dtypes

ad_id                    int64
xyz_campaign_id          int64
fb_campaign_id           int64
age                     object
gender                  object
interest                 int64
Impressions              int64
Clicks                   int64
Spent                  float64
Total_Conversion         int64
Approved_Conversion      int64
dtype: object

In [8]:
# To retrieve the column names from the dataset
Trend_wave.columns

Index(['ad_id', 'xyz_campaign_id', 'fb_campaign_id', 'age', 'gender',
       'interest', 'Impressions', 'Clicks', 'Spent', 'Total_Conversion',
       'Approved_Conversion'],
      dtype='object')

In [9]:
# To check the duplicate values in a dataset
duplicate_values=Trend_wave.duplicated().sum()
print("Number of duplicate values:",duplicate_values)

Number of duplicate values: 0

PROBLEM STATEMENTS

In [10]:
# 1Q.Which age and gender groups are responsible for the highest sales and ad spend,
# and how does their conversion efficiency compare?

# Approach towards problem statement:
# Group data by age and gender.
# Use sum on spent and approved conversions.
# Find highest sales and ad spend using loc with idxmax.
# Calculate conversion efficiency as approved conversions ÷ spent.
# Group the data based on age and gender followed by sum(aggregate) function.

# Solution 

Result=Trend_wave.groupby(['age','gender']).agg({
    'Spent':'sum',
    'Approved_Conversion':'sum'
}).reset_index()
# Rename columns
Result.columns = ['Age', 'Gender', 'Spent', 'Approved_Conversion']

# Display as a neat table
Result

     Age Gender         Spent  Approved_Conversion
0  30-34      F   7611.479995                  195
1  30-34      M   7640.919991                  299
2  35-39      F   6061.349992                   95
3  35-39      M   5051.080003                  112
4  40-44      F   7396.579984                   93
5  40-44      M   4193.149997                   77
6  45-49      F  13433.209993                  112
7  45-49      M   7317.460004                   96

In [11]:
# To retrieve the highest sales
Highest_sales=Trend_wave.loc[Trend_wave['Approved_Conversion'].idxmax()]
Highest_sales

ad_id                     1121104
xyz_campaign_id              1178
fb_campaign_id             144533
age                         30-34
gender                          M
interest                       16
Impressions               2080666
Clicks                        202
Spent                  360.150001
Total_Conversion               40
Approved_Conversion            21
Name: 528, dtype: object

In [12]:
# To retrieve the highest adspent
Highest_adspent=Trend_wave.loc[Trend_wave['Spent'].idxmax()]
Highest_adspent

ad_id                     1121100
xyz_campaign_id              1178
fb_campaign_id             144532
age                         30-34
gender                          M
interest                       15
Impressions               3052003
Clicks                        340
Spent                  639.949998
Total_Conversion               60
Approved_Conversion            17
Name: 525, dtype: object

In [13]:
# Calculate conversion efficiency
Trend_wave['Conversion_Effiency']=Trend_wave['Approved_Conversion']/Trend_wave['Spent']
Trend_wave

,ad_id,xyz_campaign_id,fb_campaign_id,age,gender,interest,Impressions,Clicks,Spent,Total_Conversion,Approved_Conversion,Conversion_Effiency
0,708746,916,103916,30-34,M,15,7350,1,1.430000,2,1,0.699301
1,708749,916,103917,30-34,M,16,17861,2,1.820000,2,0,0.000000
2,708771,916,103920,30-34,M,20,693,0,0.000000,1,0,NaN
3,708815,916,103928,30-34,M,28,4259,1,1.250000,1,0,0.000000
4,708818,916,103928,30-34,M,28,4133,1,1.290000,1,1,0.775194
...,...,...,...,...,...,...,...,...,...,...,...,...
1138,1314410,1178,179977,45-49,F,109,1129773,252,358.189997,13,2,0.005584
1139,1314411,1178,179978,45-49,F,110,637549,120,173.880003,3,0,0.000000
1140,1314412,1178,179979,45-49,F,111,151531,28,40.289999,2,0,0.000000
1141,1314414,1178,179981,45-49,F,113,790253,135,198.710001,8,2,0.010065
1142,1314415,1178,179982,45-49,F,114,513161,114,165.609999,5,2,0.012077

In [14]:
Trend_wave['CPC'] = Trend_wave['Spent'] / Trend_wave['Clicks']
Trend_wave

,ad_id,xyz_campaign_id,fb_campaign_id,age,gender,interest,Impressions,Clicks,Spent,Total_Conversion,Approved_Conversion,Conversion_Effiency,CPC
0,708746,916,103916,30-34,M,15,7350,1,1.430000,2,1,0.699301,1.430000
1,708749,916,103917,30-34,M,16,17861,2,1.820000,2,0,0.000000,0.910000
2,708771,916,103920,30-34,M,20,693,0,0.000000,1,0,NaN,NaN
3,708815,916,103928,30-34,M,28,4259,1,1.250000,1,0,0.000000,1.250000
4,708818,916,103928,30-34,M,28,4133,1,1.290000,1,1,0.775194,1.290000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138,1314410,1178,179977,45-49,F,109,1129773,252,358.189997,13,2,0.005584,1.421389
1139,1314411,1178,179978,45-49,F,110,637549,120,173.880003,3,0,0.000000,1.449000
1140,1314412,1178,179979,45-49,F,111,151531,28,40.289999,2,0,0.000000,1.438929
1141,1314414,1178,179981,45-49,F,113,790253,135,198.710001,8,2,0.010065,1.471926
1142,1314415,1178,179982,45-49,F,114,513161,114,165.609999,5,2,0.012077,1.452719

In [15]:
# Group by age and gender and sum Spent and Clicks
segment_totals = Trend_wave.groupby(['age', 'gender'])[['Spent', 'Clicks']].sum().reset_index()

# Calculate CPC
segment_totals['CPC'] = segment_totals['Spent'] / segment_totals['Clicks']

# Display the result
segment_totals

     age gender         Spent  Clicks       CPC
0  30-34      F   7611.479995    5099  1.492740
1  30-34      M   7640.919991    4384  1.742911
2  35-39      F   6061.349992    4161  1.456705
3  35-39      M   5051.080003    2933  1.722155
4  40-44      F   7396.579984    5177  1.428739
5  40-44      M   4193.149997    2559  1.638589
6  45-49      F  13433.209993    9441  1.422859
7  45-49      M   7317.460004    4411  1.658912

In [16]:
# 2Q.How effective is the campaign in converting impressions into clicks and clicks into
# sales, as demonstrated by CTR (Click Through Rate) and conversion rate?

# Approach towards problem statement
# To identify the conversion of impressions into clicks- CTR(Click Through Rate) formula is used
# To identify the conversion of clicks into sales-Conversion rate formula is used
# Based on retrieved CTR and conversion rate,we have to identify the highest and lowest CTR and conversion rate to understand the effectiveness of campaign
# Highest CTR and conversion rate-will helps in increasing the effectiveness of campaign
# Lowest CTR and conversion rate will helps in improving or by changing ideas to create a beneficial impact in campaign.

# Solution
# CTR(Click Through Rate)
Trend_wave['CTR']=Trend_wave['Clicks']/Trend_wave['Impressions']*100
Trend_wave.head()

,ad_id,xyz_campaign_id,fb_campaign_id,age,gender,interest,Impressions,Clicks,Spent,Total_Conversion,Approved_Conversion,Conversion_Effiency,CPC,CTR
0,708746,916,103916,30-34,M,15,7350,1,1.43,2,1,0.699301,1.43,0.013605
1,708749,916,103917,30-34,M,16,17861,2,1.82,2,0,0.000000,0.91,0.011198
2,708771,916,103920,30-34,M,20,693,0,0.00,1,0,NaN,NaN,0.000000
3,708815,916,103928,30-34,M,28,4259,1,1.25,1,0,0.000000,1.25,0.023480
4,708818,916,103928,30-34,M,28,4133,1,1.29,1,1,0.775194,1.29,0.024195

In [17]:
# To retrieve the highest CTR
Highest_CTR=Trend_wave.loc[Trend_wave['CTR'].idxmax()]
Highest_CTR

ad_id                    738637
xyz_campaign_id             936
fb_campaign_id           109857
age                       45-49
gender                        F
interest                     24
Impressions                 944
Clicks                        1
Spent                      1.42
Total_Conversion              1
Approved_Conversion           0
Conversion_Effiency         0.0
CPC                        1.42
CTR                    0.105932
Name: 150, dtype: object

In [18]:
# To retrieve the lowest CTR
Lowest_CTR=Trend_wave.loc[Trend_wave['CTR'].idxmin()]
Lowest_CTR

ad_id                  708771
xyz_campaign_id           916
fb_campaign_id         103920
age                     30-34
gender                      M
interest                   20
Impressions               693
Clicks                      0
Spent                     0.0
Total_Conversion            1
Approved_Conversion         0
Conversion_Effiency       NaN
CPC                       NaN
CTR                       0.0
Name: 2, dtype: object

In [19]:
# Conversion rate
Trend_wave['Conversion_Rate']=Trend_wave['Approved_Conversion']/Trend_wave['Clicks']*100
Trend_wave.head()

,ad_id,xyz_campaign_id,fb_campaign_id,age,gender,interest,Impressions,Clicks,Spent,Total_Conversion,Approved_Conversion,Conversion_Effiency,CPC,CTR,Conversion_Rate
0,708746,916,103916,30-34,M,15,7350,1,1.43,2,1,0.699301,1.43,0.013605,100.0
1,708749,916,103917,30-34,M,16,17861,2,1.82,2,0,0.000000,0.91,0.011198,0.0
2,708771,916,103920,30-34,M,20,693,0,0.00,1,0,NaN,NaN,0.000000,NaN
3,708815,916,103928,30-34,M,28,4259,1,1.25,1,0,0.000000,1.25,0.023480,0.0
4,708818,916,103928,30-34,M,28,4133,1,1.29,1,1,0.775194,1.29,0.024195,100.0

In [20]:
# To retrieve the highest conversion rate
Highest_conversion_rate=Trend_wave.loc[Trend_wave['Conversion_Rate'].idxmax()]
Highest_conversion_rate

ad_id                  708820
xyz_campaign_id           916
fb_campaign_id         103929
age                     30-34
gender                      M
interest                   29
Impressions              1915
Clicks                      0
Spent                     0.0
Total_Conversion            1
Approved_Conversion         1
Conversion_Effiency       inf
CPC                       NaN
CTR                       0.0
Conversion_Rate           inf
Name: 5, dtype: object

In [21]:
# To retrieve the lowest conversion rate
Lowest_conversion_rate=Trend_wave.loc[Trend_wave['Conversion_Rate'].idxmin()]
Lowest_conversion_rate

ad_id                    708749
xyz_campaign_id             916
fb_campaign_id           103917
age                       30-34
gender                        M
interest                     16
Impressions               17861
Clicks                        2
Spent                      1.82
Total_Conversion              2
Approved_Conversion           0
Conversion_Effiency         0.0
CPC                        0.91
CTR                    0.011198
Conversion_Rate             0.0
Name: 1, dtype: object

In [22]:
# 3Q. Are there significant differences in Cost per Action (CPA) and Cost per Mille (CPM)
# between different demographic segments, and what does this imply for budget optimization?

# Approach towards problem statement
# Create new columns named CPA(Cost per Acquisition), AND CPM(Cost Per Mille).
# To find the CPA, divide Spent and Aprroved_Conversion column
# To find CPM  divide Spent and Impressions columns * 1000
# Group by age and gender(demographics)based on CPM & CPA

In [23]:
# To retrieve CPA(Cost Per Action/Acquisition)
Trend_wave['CPA']=Trend_wave['Spent']/Trend_wave['Approved_Conversion']
Trend_wave.head()

,ad_id,xyz_campaign_id,fb_campaign_id,age,gender,interest,Impressions,Clicks,Spent,Total_Conversion,Approved_Conversion,Conversion_Effiency,CPC,CTR,Conversion_Rate,CPA
0,708746,916,103916,30-34,M,15,7350,1,1.43,2,1,0.699301,1.43,0.013605,100.0,1.43
1,708749,916,103917,30-34,M,16,17861,2,1.82,2,0,0.000000,0.91,0.011198,0.0,inf
2,708771,916,103920,30-34,M,20,693,0,0.00,1,0,NaN,NaN,0.000000,NaN,NaN
3,708815,916,103928,30-34,M,28,4259,1,1.25,1,0,0.000000,1.25,0.023480,0.0,inf
4,708818,916,103928,30-34,M,28,4133,1,1.29,1,1,0.775194,1.29,0.024195,100.0,1.29

In [24]:
# CPM(Cost Per Mille)
Trend_wave['CPM']=Trend_wave['Spent']/Trend_wave['Impressions']*1000
Trend_wave.head()

,ad_id,xyz_campaign_id,fb_campaign_id,age,gender,interest,Impressions,Clicks,Spent,Total_Conversion,Approved_Conversion,Conversion_Effiency,CPC,CTR,Conversion_Rate,CPA,CPM
0,708746,916,103916,30-34,M,15,7350,1,1.43,2,1,0.699301,1.43,0.013605,100.0,1.43,0.194558
1,708749,916,103917,30-34,M,16,17861,2,1.82,2,0,0.000000,0.91,0.011198,0.0,inf,0.101898
2,708771,916,103920,30-34,M,20,693,0,0.00,1,0,NaN,NaN,0.000000,NaN,NaN,0.000000
3,708815,916,103928,30-34,M,28,4259,1,1.25,1,0,0.000000,1.25,0.023480,0.0,inf,0.293496
4,708818,916,103928,30-34,M,28,4133,1,1.29,1,1,0.775194,1.29,0.024195,100.0,1.29,0.312122

In [25]:
# Group by demographic data with respective to CPA & CPM
Segmented_data=Trend_wave.groupby(['age','gender']).agg({
    'CPA':'mean', 
    'CPM':'mean' 
}).reset_index()
# Rename columns
Segmented_data.columns = ['Age', 'Gender', 'CPA','CPM'] 


# Display as a neat table
Segmented_data

     Age Gender  CPA       CPM
0  30-34      F  inf  0.191534
1  30-34      M  inf  0.148180
2  35-39      F  inf  0.268185
3  35-39      M  inf  0.215637
4  40-44      F  inf  0.310462
5  40-44      M  inf  0.268267
6  45-49      F  inf  0.368967
7  45-49      M  inf  0.256031

In [26]:
import numpy as np
Segmented_data.replace({'CPA': [np.inf, -np.inf]}, 0, inplace=True)
Segmented_data

     Age Gender  CPA       CPM
0  30-34      F  0.0  0.191534
1  30-34      M  0.0  0.148180
2  35-39      F  0.0  0.268185
3  35-39      M  0.0  0.215637
4  40-44      F  0.0  0.310462
5  40-44      M  0.0  0.268267
6  45-49      F  0.0  0.368967
7  45-49      M  0.0  0.256031

In [27]:
# Budget optimization

# Segment with lowest CPA
best_cpa_segment = Trend_wave.loc[Trend_wave['CPA'].idxmin()]
best_cpa_segment

ad_id                  708820
xyz_campaign_id           916
fb_campaign_id         103929
age                     30-34
gender                      M
interest                   29
Impressions              1915
Clicks                      0
Spent                     0.0
Total_Conversion            1
Approved_Conversion         1
Conversion_Effiency       inf
CPC                       NaN
CTR                       0.0
Conversion_Rate           inf
CPA                       0.0
CPM                       0.0
Name: 5, dtype: object

In [28]:
# Segment with lowest CPM
best_cpm_segment = Trend_wave.loc[Trend_wave['CPM'].idxmin()]
best_cpa_segment

ad_id                  708820
xyz_campaign_id           916
fb_campaign_id         103929
age                     30-34
gender                      M
interest                   29
Impressions              1915
Clicks                      0
Spent                     0.0
Total_Conversion            1
Approved_Conversion         1
Conversion_Effiency       inf
CPC                       NaN
CTR                       0.0
Conversion_Rate           inf
CPA                       0.0
CPM                       0.0
Name: 5, dtype: object

DATA CLEANING

So, After performing some calculations related to problem statement some NaN values and inf values are generated in specific columns which need to be cleaned(DATA cleaning)

NaN Values-NaN stands for “Not a Number”.
It appears in a dataset when a value is missing or undefined.
Detected by isnull() or isna().

In [29]:
# To fill the NaN values with 0
Trend_wave.fillna({
    'Conversion_Effiency': 0,
    'Conversion_Rate': 0,
    'CPA': 0,
    'CPC':0
}, inplace=True)

# Display the updated dataframe
Trend_wave.head()

,ad_id,xyz_campaign_id,fb_campaign_id,age,gender,interest,Impressions,Clicks,Spent,Total_Conversion,Approved_Conversion,Conversion_Effiency,CPC,CTR,Conversion_Rate,CPA,CPM
0,708746,916,103916,30-34,M,15,7350,1,1.43,2,1,0.699301,1.43,0.013605,100.0,1.43,0.194558
1,708749,916,103917,30-34,M,16,17861,2,1.82,2,0,0.000000,0.91,0.011198,0.0,inf,0.101898
2,708771,916,103920,30-34,M,20,693,0,0.00,1,0,0.000000,0.00,0.000000,0.0,0.00,0.000000
3,708815,916,103928,30-34,M,28,4259,1,1.25,1,0,0.000000,1.25,0.023480,0.0,inf,0.293496
4,708818,916,103928,30-34,M,28,4133,1,1.29,1,1,0.775194,1.29,0.024195,100.0,1.29,0.312122

inf stands for infinity.
It appears in a dataset when a calculation results in a value too large or division by zero.

In [30]:
# To replace the inf values with 0
Trend_wave.replace({
    'Conversion_Effiency': [np.inf, -np.inf],
    'Conversion_Rate': [np.inf, -np.inf],
    'CPA': [np.inf, -np.inf],
    'CPC': [np.inf,-np.inf]
}, 0, inplace=True)

# Display the updated dataframe
Trend_wave.head()

,ad_id,xyz_campaign_id,fb_campaign_id,age,gender,interest,Impressions,Clicks,Spent,Total_Conversion,Approved_Conversion,Conversion_Effiency,CPC,CTR,Conversion_Rate,CPA,CPM
0,708746,916,103916,30-34,M,15,7350,1,1.43,2,1,0.699301,1.43,0.013605,100.0,1.43,0.194558
1,708749,916,103917,30-34,M,16,17861,2,1.82,2,0,0.000000,0.91,0.011198,0.0,0.00,0.101898
2,708771,916,103920,30-34,M,20,693,0,0.00,1,0,0.000000,0.00,0.000000,0.0,0.00,0.000000
3,708815,916,103928,30-34,M,28,4259,1,1.25,1,0,0.000000,1.25,0.023480,0.0,0.00,0.293496
4,708818,916,103928,30-34,M,28,4133,1,1.29,1,1,0.775194,1.29,0.024195,100.0,1.29,0.312122

In [31]:
Trend_wave.isnull().sum()

ad_id                  0
xyz_campaign_id        0
fb_campaign_id         0
age                    0
gender                 0
interest               0
Impressions            0
Clicks                 0
Spent                  0
Total_Conversion       0
Approved_Conversion    0
Conversion_Effiency    0
CPC                    0
CTR                    0
Conversion_Rate        0
CPA                    0
CPM                    0
dtype: int64

In [32]:
# Save cleaned dataframe to CSV
Trend_wave.to_csv('Cleaned_Trend_wave.csv', index=False)